---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  subtitle: string;
  content: string;
  url: string;
  image: string;
}

const { title, subtitle, content, url, image } = Astro.props;
---

<a href={url} class="block min-w-[250px] w-full md:w-[40%] lg:w-[30%]">
  <div class="relative w-full">
    <Image
      src={image}
      width={600}
      height={375}
      alt=""
      class="rounded-2xl aspect-[3/2] w-full"
    />
  </div>
  <h3 class="text-3xl font-bold mt-6 mb-4 text-primary">{title}</h3>
  <p
    class="bg-secondary inline-block text-text-inverted font-extrabold px-4 py-2 text-lg mb-4 rounded-[30px]"
  >
    {subtitle}
  </p>
  <p class="text-lg">{content}</p>
</a>
