---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { ButtonLink } from "../button-link/button-link";

export interface Props {
  title: string;
  subtitle: string;
  url: string;
  image: ImageMetadata;
}

const { title, subtitle, url, image } = Astro.props;
---

<div class="block min-w-[250px] w-full md:w-[40%] lg:w-[30%] text-center">
  <a href={url} class="block">
    <div class="relative w-full mb-4">
      <Image
        src={image}
        width={600}
        height={375}
        alt=""
        class="rounded-2xl aspect-[3/2] w-full"
        loading="lazy"
      />
    </div>
    <h3 class="text-3xl font-bold mt-2 mb-4 text-primary">{title}</h3>
  </a>
  <ButtonLink
    href={url}
    className="mb-4"
    isExternal={false}
  >
    {subtitle}
  </ButtonLink>
  <p class="text-lg">
    <slot />
  </p>
</div>
