---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/prose/prose.astro";
import Filter from "../components/sessions/filter.astro";
import ListSessions from "../components/sessions/list-sessions.astro";

const sessions = await getCollection("sessions");

const allTracks = Array.from(
  new Set(sessions.map((session) => session.data.track).filter((track) => track))
).sort();

const allTypes = Array.from(
  new Set(sessions.map((session) => session.data.session_type).filter((type) => type))
).sort();

const allLevels = Array.from(
  new Set(sessions.map((session) => session.data.level).filter((level) => level))
).sort();

const title = "Sessions";
const description = "A list of all the sessions at the conference";
---

<Layout title={title} description={description}>
  <div class="px-6">
    <Prose>
      <h1>Sessions</h1>
      <p>Here you can find a list of all the sessions at the conference.</p>
      <p>You can filter the sessions by track, type, and level.</p>
      <h2>Filters</h2>
    </Prose>

    <Filter allTracks={allTracks} allTypes={allTypes} allLevels={allLevels} />

    <Prose>
      <h2>List of Sessions</h2>
    </Prose>

    <ListSessions sessions={sessions} />
  </div>
</Layout>
