---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/prose/prose.astro";
import { Label } from "../components/form/label";
import { Select } from "../components/form/select";
import { Tag } from "../components/tag/tag";
import SessionSpeakers from "../components/session-speakers.astro";

const sessions = await getCollection("sessions");
const talks = sessions.filter(s => s.data.submission_type.substr(0,4) === "Talk");

const allTracks = Array.from(
  new Set(sessions.map((session) => session.data.track)),
).sort();

const allTypes = Array.from(
  new Set(sessions.map((session) => session.data.submission_type)),
).sort();

const title = "Sessions";

const description = "A list of all the sessions at the conference";
---

<Layout title={title} description={description}>
  <div class="px-6">
    <Prose>
      <h1>Talks</h1>

      <p>
      From Wednesday to Friday you can enjoy {talks.length} talks in 6 parallel tracks
      </p>

      <p>
      Below there is a list of all proposals that were accepted from our <a href="/cfp">CFP</a>.
      </p>

      <h2>List of talks</h2>

    </Prose>

    <ol class="sessions">
      {
        talks.map((session) => (
          <li
            class="mb-12"
            data-track={session.data.track}
            data-type={session.data.submission_type}
          >
            <Prose>
              <h4>
                <a href={`/session/${session.slug}`} class="underline">
                  {session.data.title}
                </a>
              </h4>

              <p>
                <span class="sr-only">Speakers:</span>

                <SessionSpeakers speakers={session.data.speakers} />
              </p>
            </Prose>

            <ul class="space-x-2 capitalize">
              <li class="inline-block">
                <Tag>
                  <span class="sr-only">Track:</span>
                  {session.data.track}
                </Tag>
              </li>

              <li class="inline-block">
                <Tag>
                  <span class="sr-only">Level:</span>
                  {session.data.level}
                </Tag>
              </li>
            </ul>
          </li>
        ))
      }
    </ol>
  </div>
</Layout>

<script>
  const forms = document.querySelectorAll("form.filter-sessions");

  forms.forEach((form) => {
    form.querySelectorAll("select").forEach((select) => {
      select.addEventListener("change", () => {
        // @ts-ignore
        const track = form.querySelector("#track").value;
        // @ts-ignore
        const type = form.querySelector("#type").value;

        document.querySelectorAll("ol.sessions > li").forEach((session) => {
          const sessionTrack = session.getAttribute("data-track");
          const sessionType = session.getAttribute("data-type");

          if (
            (track === "" || sessionTrack === track) &&
            (type === "" || sessionType === type)
          ) {
            // @ts-ignore
            session.style.display = "block";
          } else {
            // @ts-ignore
            session.style.display = "none";
          }
        });
      });
    });
  });
</script>
